*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit; //from body element
}

html {
   font-size: 62.5%; //defines 1rem everywhere as 10px
}
body {
   box-sizing: border-box;
   color: $color-white;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
