*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit; //from body element
}

html {
   // This defines what 1 rem is
   font-size: 62.5%; // 1rem = 10px,  10/16 = 62.5%
   /* of root font size 16px */

   @include respond(tab-land) {
      font-size: 56.25%; // 1rem = 9px,  9/16 = 56.25%
   }

   @include respond(tab-port) {
      font-size: 50%; // 1rem = 8px,  8/16 = 50%
   }

   @include respond(phone) {
      font-size: 43.75%; // 1rem = 7px,  7/16 = 43.75%
   }

   @include respond(phone-small) {
      font-size: 37.5%; // 1rem = 6px,  6/16 = 37.50%
   }

   @include respond(phone-vsmall) {
      font-size: 28.13%; // 1rem = 4.5px,  4.5/16 = 28.13%
   }

   @include respond(big-desktop) {
      font-size: 75%; // 1rem = 12px
   }
}

body {
   box-sizing: border-box;
   color: $color-white;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
