$color-primary: #e91e63;
$color-primary-light: #f8bbd0;
$color-primary-dark: #c2185b;

$color-white: #ffffff;
$color-white-dark: #dedede;

$color-black: #212121;
$color-black-light: #757575;

$color-secondary: #ff4081;
