.footer {
   background-color: $color-black;
   min-height: 5vh;
   padding: 1 rem;

   &__text {
      text-align: center;
      font-size: 2rem;
      line-height: 3;
      i {
         color: $color-secondary;
      }
   }
}
